{% extends 'store/main1.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">


	    	<p id="cart-total">{{cartItems}}</p>

              <legend class="border-bottom mb-4">Profile Information</legend>

               <div class="content-section">
                 <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
                Username<span class="asteriskField"></span> </label> <div class=""> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username"> </div>
                 Email<span class="asteriskField"></span> </label> <div class=""> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username"> </div>
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit"><a href="{% url 'store1' %}">Update</a></button>
          </div>
      </form>
    </div>
{% endblock content %}
